@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(231, 230, 230);
    color:black;
}
.titrepage{
    font-family: 'Poppins',sans-serif;
    text-transform:uppercase;
    letter-spacing: 2px;
    color: rgb(126, 125, 125);
    text-align: center;
    margin-top: 20px;
}
